#iconeNavBar {
    content: url(src/assets/logo.png);
    width: 60px;
}

a{
    cursor: pointer;
}

.borderColor {
    border-color: #173ab8;
}

.corBotao:hover {
    background-color: #173ab8 !important;
    color: white !important;
}